# Ambiente Virtual
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Dados Locais (não queremos subir suas notas pessoais)
notes.json
.env
auth_info.json
notes_test.json

# Sistema macOS
.DS_Store

# PyInstaller
build/
dist/

# Assets gerados
app_icon.png
MinhasNotas.iconset/

